<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Acceso rápido</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/tecnologia"><i class="fa fa-angle-double-right"></i>Tecnología</a></li>
                    <li><a href="/electro"><i class="fa fa-angle-double-right"></i>Electrodomésticos y Hogar</a></li>
                    <li><a href="/moda"><i class="fa fa-angle-double-right"></i>Moda</a></li>
                    <li><a href="/libros"><i class="fa fa-angle-double-right"></i>Libros</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quienes somos?</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Hecho por David Rojas y Julián Rodríguez para el proyecto de Bases 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">Virtual Mall 2019 &copy Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->